<!DOCTYPE html>
<html lang="en">
    <% includes(public/layouts/head.ejs) %>
<body>
    
    <% includes(public/layouts/header.ejs) %>
    <main>
        <%simpsons.foreach(simp=>{ %>
            <section id="template">
                <p><%=simp.qoute%></p>
                <p><%=simp.character_name%></p>
                <p><%=simp.image_url%></p>
                <p><%=simp.description%></p>
                <a href="/qoute/<%=qoute.id%>">view Details</a>
            </section>
      <%  }) %>
    </main>
    
</body>
</html>