<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>home</title>
    </head>
    <body>
    
        <header>
            <img src="screenshots/nav.png" alt="">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/favorite-quotes">Favorite Qoutes</a></li>
                    
                </ul>
            </nav>
        </header>    
          <main>
        <%simpsons.forEach(simp=>{ %>
            <section id="template">
                <p><%=simp.quote%></p>
                <p><%=simp.character%></p>
                <img src=<%=simp.image%> >
                <p><%=simp.characterDirection%></p>
                <a href="/favorite-quotes/<%=simp.id%>">view Details</a>
            </section>
      <%  }) %>
    </main>
    
</body>
</html>